/* These are the style rules used for the MidCOM default toolbar.
 * 
 * Essentially they transform the UL into a horizontally layouted list.
 * Aimed for 16x16 icons, and some IE compatibility.
 *
 * $Id$
 */

ul.midcom_toolbar {
	border: 1px solid #666666;
	background: #DDDDDD;
	padding: 7px;
	margin: 0;
}

ul.midcom_toolbar li {
	list-style: none;
	display: inline;
	padding: 0px 0.4em 0px 0.7em;
	margin: 3px 0;
	border-right: 1px solid #666666;
	font-size: 11px;
	line-height: 16px;
	white-space: nowrap !important; 
	
	/* The following is for IE, it will override the !important lines */
	white-space: normal;
}

ul.midcom_toolbar li img {
	vertical-align: top;
	padding: 0 0.25em 0 0;
	border: none;
}

ul.midcom_toolbar li abbr {
	border: none;
}

ul.midcom_toolbar li a {
	text-decoration: none;
	border: none;
	white-space: nowrap;
}

ul.midcom_toolbar li.enabled {
	/* no special rules yet */
}

ul.midcom_toolbar li.enabled:hover, ul.midcom_toolbar li a:hover {
	background: #EEEEEE;
	text-decoration: none;
}

ul.midcom_toolbar li.disabled {
	color: #666666;
	white-space: nowrap;
}

ul.midcom_toolbar li.only_item {
	border: none;
	padding-left: 0px;
}

ul.midcom_toolbar li.first_item {
	padding-left: 0px;
}

ul.midcom_toolbar li.last_item {
	border: none;
}


/* Define a second toolbar class for use inside AIS content areas
 * ("3rd level toolbars"), used in combination with the regular toolbar style.
 */

ul.midcom_toolbar_in_content {
	border: none;
	background: none;
	padding: 7px 0px;
}

ul.midcom_toolbar_in_content li.enabled:hover, ul.midcom_toolbar_in_content li a:hover {
	background: #DDDDDD;
	text-decoration: none;
}

/* Define a toolbar class for the main AIS toolbar
 * ("3rd level toolbars"), used in combination with the regular toolbar style.
 */

ul.midcom_toolbar_ais_main, ul.midcom_toolbar_ais_meta {
	border-bottom: none;
}