form.datamanager2 fieldset.midgard_admin_asgard_object_attachments_upload,
form.datamanager2 fieldset.midgard_admin_asgard_object_attachments_newfile
{
    background-color: #eeeeec;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    margin-bottom: 10px;
}

.file-manager .filelist ul
{
    list-style-type: none;
    margin: 10px 0 10px 0;
    padding: 0;
}
.file-manager .filelist ul li
{
    height: 25px;
    line-height: 25px;
    margin: 0 0 4px 0;
}
.file-manager .filelist ul li img
{
    border: none;
}