body, html
{
    margin: 0;
    color: #4c4c4c;
    background-color: #fff;
    font-size: 8pt;
    font-family: Arial, "MS Trebuchet", sans-serif;
    text-align: left;
}
    	    
div.mailbox_navigation
{
    height: 33px;
    width: 100%;
    background: url('../images/navigation_bg.gif') left top repeat-x;
    margin-bottom: 4px;
}
div.mailbox_navigation ul
{
    margin: 0;
    padding: 0;
    list-style-type: none;
}
div.mailbox_navigation ul li
{
    height: 33px;
    line-height: 33px;
    margin: 0 0 0 0;
    padding: 0;
    float: left;
}
div.mailbox_navigation ul li.separator
{
    width: 1px;
    background: url('../images/navigation_separator_bg.gif') left top no-repeat;
}
div.mailbox_navigation ul li.selected,
div.mailbox_navigation ul li.hover
{
    background: url('../images/navigation_selected_bg.gif') left top repeat-x;
}
div.mailbox_navigation ul li a
{
    height: 33px;
    line-height: 33px;
    font-size: 11pt;
    background: transparent;
    padding: 9px 15px 10px 15px;
    text-decoration: none;
    color: #5f5f5f;
}
div.mailbox_navigation ul li.selected a,
div.mailbox_navigation ul li.hover a
{
    color: #fff;
}

table.mail_list
{
    width: 100%;
    margin: 0;
    padding: 0;
    font-size: 9pt;
}
table.mail_list a
{
    color: #393939;
    font-weight: bold;
}
table.mail_list thead
{
    height: 33px;
    line-height: 33px;
    background: url('../images/table_header_bg.gif') left top repeat-x;
    margin-bottom: 5px;
    text-align: left;
}
table.mail_list tbody tr
{
    height: 37px;
    line-height: 37px;
    text-align: left;
}
table.mail_list th.selection,
table.mail_list td.selection
{
    width: 35px;
    text-align: center;
}
table.mail_list th.status,
table.mail_list td.status
{
    width: 40px;
    text-align: left;
}
table.outbox th.to,
table.outbox td.to
{
    width: 245px;
    padding-left: 15px;
}
table.mail_list th.from,
table.mail_list td.from
{
    width: 200px;
}
table.mail_list th.subject,
table.mail_list td.subject
{
    width: 250px;
}
table.outbox th.subject,
table.outbox td.subject
{
    width: 280px;
}	    
table.mail_list td.date
{
    color: #838383;
}
table.mail_list td.error
{
    width: 100%;
    text-align: center;
    font-weight: bold;
}
	    	    
table.mail_list tr.even
{
    background-color: #ececec;
}

table.mail_list img
{
    margin-left: 5px;
}
table.sent img
{
    margin-left: 10px;
}
table.mail_list img.read
{
    margin-top: 6px;
}
table.mail_list img.unread
{
    margin-top: 4px;
}

#message-view,
#message-compose-new
{
    margin-top: 10px;
}

div.sender_photo
{
    float: left;
    text-align: left;
    margin-right: 10px;
}	    
div.sender_photo img
{
    border: 1px solid #ccc;
}
div.message-details
{
    width: 570px;
    float: left;
}
div.message-details div.headers
{
    font-size: 10pt;
}
div.message-details div.headers span
{
    line-height: 13pt;
}
div.message-details div.headers a
{
    font-weight: bold;
    color: #5f5f5f;
}
div.message-details div.content
{
    margin-top: 15px;
    border: 1px dashed #5f5f5f;
    border-left: none;
    border-right: none;
    padding: 10px 20px 10px 0;
}
div.message-details div.content p
{
    margin: 0;
    padding: 0;
}
div.mailbox_content div.actions
{
    width: 100%;
    margin-top: 10px;
}

#message-compose-reply .midcom_helper_datamanager2_widget_universalchooser
{
    display: none;
}