/**
 * Styles for ui messages with javascript
**/

#midcom_services_uimessages_wrapper
{
    margin: 15px;
    padding: 5px;
    font-family: "Verdana, Arial, Helvetica, sans-serif";
    font-color: #000000;
    font-size: 12px;
    font-weight: normal;
    text-align: left;
    position: absolute;
    top: 0;
    right: 0;
}

#midcom_services_uimessages_wrapper div.midcom_services_uimessages
{
    background-image: url('images/bg.gif');
    background-repeat: no-repeat;
    background-position: top left;    
    width: 312px;
    height: 108px;
    padding: 3px;
    margin: 10px 0 10px 0;
}

#midcom_services_uimessages_wrapper > div.midcom_services_uimessages
{
    background-image: url('images/bg.png');
}

#midcom_services_uimessages_wrapper img.close
{
  float: right;
  margin-right: 16px;
  cursor: pointer;
}