form.midcom_helper_datamanager label span
{
    display: block;
    font-weight: bold;
}

form.midcom_helper_datamanager label input
{
    display: block;
    width: 80%;
}

form.midcom_helper_datamanager label textarea
{
    width: 80%;
    height: 20em;
    display: block;
}