/* Generic rules */
.vevent abbr
{
    border: none;
}

/* Rules for event lists */
ul li.vevent
{
    margin-bottom: 1em;
    list-style: none;
}

ul li.vevent div.summary
{
    font-weight: bold;
    line-height: 1.2em;
}

ul li.vevent div.dates
{
    margin-left: -2em;
}

ul li.vevent div.location
{
    font-size: smaller;
}

/* Rules for event page */
div.vevent div.loc
{
    margin-bottom: 1em;
}

div.vevent div.time
{
    margin-bottom: 1em;
}