table.report
{
  background-color: #ffffff;
  border-collapse: collapse;
  border-spacing: 0;
}

table.report th
{
  vertical-align: bottom;
}

table.report th,
table.report td
{
  border: solid 1px #000000;
  text-align: center;
}

table.report tr.even
{
  background-color: #efefef;
}

table.report tfoot
{
  font-style: italic;
  border-top: solid 2px #000000;
}
