body .highlight_overlay
{
    position: fixed; 
    _position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.8); 
    *background: #000; 
    *filter: alpha(opacity=80);
    z-index:98;
}

body #highlight\:focused
{
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    z-index: 99;
    background-size: 50px 50px;
}