body #toolbar
{
    position: fixed;
    top: 0;
    left: 0;
    color: #fff;
    width: 110%;
    z-index: 100;
    font: 16px "Lucida Grande", "Trebuchet MS", Verdana, sans-serif;
}

body #toolbar #toolbar\:tabs
{
    background-color: #222;
    width: 95%;
}

body #toolbar\:toggle
{
    background: #222 url('../img/MidgardToolbar.png') no-repeat center center;
    width: 32px;
    height: 32px;
    display: block;
    float: left;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    position: absolute;
    padding: 0.5em 0.5em 0em;
}

body #toolbar\:toggle.active
{
    border-bottom: 1px solid #111;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
}

body #toolbar\:tabs
{
    float: left;
    margin: 0 0 0 40px;
    padding: 0;
    border-bottom: 1px solid #111;
}

body #toolbar\:tabs li
{
    float: left;
    height: 40px;
}

body #toolbar\:tabs li
{
    display: inline;
}

body #toolbar\:tabs li a
{
    display: inline-block;
    padding: 0.6em 0.75em 0.55em 2.35em;
    margin-top: 0.5em;
    color: #777;
    background-color: #222;
    text-decoration: none;
    font-size: 0.875em;
    text-transform: capitalize;
    margin-left: 0.5em;
    background-position: 8px 5px;
    background-repeat: no-repeat;
}

/* Icons */
body #toolbar\:tabs a#toolbar_items_link
{
    background-image: url('../img/preferences-system-windows22x22.png');
}

body #toolbar\:tabs a#toolbar_create_link
{
    background-image: url('../img/list-add22x22.png');
}

body #toolbar\:tabs a#toolbar_system_link
{
    background-image: url('../img/preferences-system22x22.png');
}

body #toolbar\:tabs li a:hover
{
    color: #fff;
}

body #toolbar\:tabs li a:focus
{
    border: none;
    outline: none;
}

body #toolbar\:tabs li a.selected
{
    color: #fff;
    background-color: #333 !important;
    -moz-border-radius-topright: 5px;    
    -moz-border-radius-topleft: 5px;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    border-bottom: 1px solid #333;
    -moz-border-bottom-colors: #111;
}

body #toolbar\:actions
{
    width: 95%;
    padding-left: 40px;
    background-color: #333;
    border-top: 1px solid #444;
    clear: left;
}

body #toolbar\:actions div
{
    padding: 1em;
    background-color: #333;
}

body #toolbar\:actions a
{
    background: url('/midcom-static/stock-icons/16x16/document.png') no-repeat top left;
    padding-left: 18px;
    height: 16px;
    width: 200px;
    display: inline-block;
    overflow: hidden;
    color: #fff;
    font-size: 0.75em;
}

body #toolbar\:actions a.midgard_page
{
    background-image: url('/midcom-static/stock-icons/16x16/folder.png');
}

body #toolbar\:actions a.midgard_person
{
    background-image: url('/midcom-static/stock-icons/16x16/person.png');
}