#net_nemein_alphabeticalindex_navigation
{
    height: 33px;
    width: 100%;
    /*width: 693px;*/
    margin-top: 10px;
    margin-bottom: 10px;
}
#net_nemein_alphabeticalindex_navigation ul
{
    list-style-type: none;
}
#net_nemein_alphabeticalindex_navigation ul li
{
    height: 33px;
    line-height: 33px;
    margin: 0;
    padding: 0;
    background: url('../images/navigation_bg.gif') left top repeat-x;
    float: left;
    text-align: center;
}
#net_nemein_alphabeticalindex_navigation ul li.separator
{
    width: 1px;
    background: url('../images/navigation_separator_bg.gif') left top no-repeat;
}
#net_nemein_alphabeticalindex_navigation ul li.selected
{
    background: url('../images/navigation_selected_bg.gif') left top repeat-x;
}
#net_nemein_alphabeticalindex_navigation ul li.hover
{
    background: url('../images/navigation_hover_bg.gif') left top repeat-x;
}
#net_nemein_alphabeticalindex_navigation ul li.disabled
{
    color: #8f8f8f;
    padding-left: 8px;
    padding-right: 8px;
}
#net_nemein_alphabeticalindex_navigation ul li a,
#net_nemein_alphabeticalindex_navigation ul li a:link,
#net_nemein_alphabeticalindex_navigation ul li a:visited
{
    height: 33px;
    line-height: 33px;
    margin: 0;
    padding: 0;
    float: left;
    text-align: center;
    font-size: 12pt;
    background: transparent;
    color: #474747;
    font-weight: normal;
    margin-left: 8px;
    margin-right: 8px;
}
#net_nemein_alphabeticalindex_navigation ul li.selected a,
#net_nemein_alphabeticalindex_navigation ul li a:active
{
    color: #474747;
    font-weight: normal;
    text-decoration: none;
}
#net_nemein_alphabeticalindex_navigation ul li.hover a,
#net_nemein_alphabeticalindex_navigation ul li a:hover,
#net_nemein_alphabeticalindex_navigation ul li a:visited:hover
{
    color: #fff;
    font-weight: normal;
    text-decoration: none;
}

#net_nemein_alphabeticalindex_items
{
}
#net_nemein_alphabeticalindex_items h2
{
    margin-bottom: 5px;
}
#net_nemein_alphabeticalindex_items ul
{
    padding: 0px;
    margin-top: 0px;
    margin-left: 0px;
    margin-bottom: 3px;
    list-style-type: none;
    
}
#net_nemein_alphabeticalindex_items ul li
{
    line-height: 18px;
    margin-top: 0px;
    margin-left: 10px;
    padding: 0;
}
#net_nemein_alphabeticalindex_items ul li a,
#net_nemein_alphabeticalindex_items ul li a:link,
#net_nemein_alphabeticalindex_items ul li a:visited
{
    margin-left: 0px;
}
#net_nemein_alphabeticalindex_items a.top_link,
#net_nemein_alphabeticalindex_items a.top_link:link,
#net_nemein_alphabeticalindex_items a.top_link:visited,
#net_nemein_alphabeticalindex_items a.top_link:hover,
#net_nemein_alphabeticalindex_items a.top_link:visited:hover
{
    color: #8f8f8f;
    font-size: 9pt;
    text-decoration: none;
}
#net_nemein_alphabeticalindex_items ul li div.actions
{
    display: inline;
    margin-left: 10px;
}
#net_nemein_alphabeticalindex_items ul li div.actions img
{
    border: 0;
}