#net_nemein_personnel_user_account label
{
  display: block;
}

#net_nemein_personnel_user_account ul.message
{
  padding: 1em 1.5em;
  background-color: #eeeeec;
  color: black;
  -moz-border-radius: 10px;
}