form.midcom_admin_user_search .helptext
{
    font-size: smaller;
}

form.midcom_admin_user_search
{
    margin-top: 1em;
    margin-bottom: 1em;
}

table.midcom_admin_user_search_results
{
    border-collapse: collapse;
}

table.midcom_admin_user_search_results thead
{
    background-color: #555753;
    color: #ffffff;
    padding-top: 4px;
    padding-bottom: 4px;
}
table.midcom_admin_user_search_results thead th,
table.midcom_admin_user_search_results tbody td
{
    padding-left: 4px;
    padding-right: 2px;
    text-align: left;
}

table.midcom_admin_user_search_results tr.even td
{
    background-color: #eeeeef;
}


form.datamanager2 fieldset label,
form.datamanager2 fieldset input
{
    display: inline !important;
}

#midcom_admin_user_passwords
{
  float: right;
  width: 25em;
}

#midcom_admin_user_passwords pre
{
  background-color: #eeeeef;
  padding: 6px;
}

#midcom_admin_user_passwords label,
#midcom_admin_user_action_passwords label
{
  font-weight: bold;
  display: block;
  margin-top: 1em;
}

#midcom_admin_user_action_passwords h1
{
  font-size: 120%;
}

#midcom_admin_user_email_body
{
  width: 20em;
  height: 15em;
}
