@import "../midcom.helper.datamanager/jscript-calendar/jscalendar.css";

/* Form areas */
div.form_fieldgroup_title, form.datamanager fieldset legend
{
    font-size: 1.2em;
    font-weight: bold;
}
form.datamanager fieldset, div.area
{
    border: none;
    clear: left;        
}
form.datamanager fieldset fieldset, div.area div area
{
    margin-left: 2%;
}

/* Regular form fields */
div.form_description, form.datamanager label span.field_text
{
    width: 20%;
    overflow: hidden;
    display: block;
    float: left;
    clear: left;
    text-align: right;
    margin-right: 2%;
    font-weight: bold;
}
/* Label */
form.datamanager label, div.form_description
{
    margin-top: 4px;
    margin-bottom: 4px;
}
form.datamanager label.required:after
{
    content: "*";   
}
form.datamanager label.missing
{
    color: red;   
}


/* Normal content entry */
div.form_viewfield, form.datamanager input.shorttext, form.datamanager textarea, form.datamanager select, form.datamanager input.fileselector, form.datamanager span.mceEditorContainer
{
    font-size: 1.15em;
    min-height: 1.15em;
    float: left;
    width: 76%;    
    max-width: 76%;    
}
form.datamanager span.mceEditorContainer select
{
    width: 20%;
}
form.datamanager textarea.longtext
{
    height: 20em;
    display: inline;
}
div.form_viewfield div
{
    display: inline;
}

/* Contact chooser */
form.datamanager div.widget_contactchooser
{
    width: 76%;
    float: left;
}
form.datamanager ul.widget_contactchooser_selected
{
    max-height: 20em;
    overflow-y: auto;
}
form.datamanager ul.widget_contactchooser_selected label, form.datamanager ul.widget_contactchooser_selected input
{
    display: inline;
    margin: 0px;
    padding: 0px;
    left: 0px;
    float: none;
    clear: left;
}
form.datamanager div.widget_contactchooser input.ajax_editable
{
    clear: left;
    font-size: 1.15em;
}
form.datamanager div.widget_contactchooser ul, div.form_contactchooser ul
{
    padding-left: 0px;
}
form.datamanager div.widget_contactchooser ul li, div.form_contactchooser ul li
{
    list-style: none;
}
form.datamanager ul.widget_contactchooser_resultset 
{
    clear: left;
    background-color: #EAE8E3;
    color: #000000;
    border: 1px solid #BAB5AB;
    width: 60%;
    z-index: 200;
    padding: 0px;
    margin: 0px;
    max-height: 6em;
    overflow-y: auto;
}
form.datamanager ul.widget_contactchooser_resultset li 
{
    list-style: none;
}
form.datamanager ul.widget_contactchooser_resultset li a 
{
    text-decoration: none;
    display: block;
    padding-left: 2px;
    padding-right: 2px;
}
form.datamanager ul.widget_contactchooser_resultset li a:hover 
{
    text-decoration: none;
    background-color: #BAB5AB;
}
form.datamanager div.widget_contactchooser input.ajax_editable 
{
    background-position: right;
    background-repeat: no-repeat;
    background-image: url("../stock-icons/16x16/view.png");
    padding-right: 18px;
    display: block;
    width: 60%;    
}

/* File uploads */
form.datamanager fieldset.blob
{
    width: 70%;
    margin-left: 21%;
    border: none;
}

/* Radio select boxes */
form.datamanager fieldset.radiobox
{
    width: 70%;
    margin-left: 21%;
    border: none;
}
form.datamanager fieldset.radiobox input, form.datamanager fieldset.radiobox label
{
    float: none;
    display: inline;
    clear: none;
}

/* Date input */
form.datamanager fieldset.date 
{ 
    display: inline;
    margin-left: 0px;
    padding: 0px;
}
form.datamanager fieldset.date input.date
{
    font-size: 1.15em;
}
form.datamanager fieldset.date button.date
{
	display: inline;
    margin: 0px 0px 0px 5px;
    width: 24px;
    height: 20px;
    background-image: url('../stock-icons/16x16/web-calendar.png');
    background-repeat: no-repeat;
}

/* Checkboxes */
form.datamanager fieldset.checkbox_area
{
    border: none;
    width: 78%;
    margin-left: 22%;    
    display: inline;    
}
form.datamanager fieldset.checkbox_area input
{
    float: none;
    display: inline;    
}
form.datamanager fieldset.checkbox_area label
{
    float: none;
    display: inline;
    width: 70%;
    text-align: left; 
    overflow: hidden;   
}
form.datamanager fieldset.checkbox_area label span.field_text_after
{
    width: 70%;
    display: inline;
    float: none;
    clear: none;    
    overflow: hidden;       
}

/* Form toolbar: save and cancel buttons */
form.datamanager div.form_toolbar input
{
    float: none;
    padding-left: 0px;
    width: 20%;
}
form.datamanager div.form_toolbar
{
    padding-left: 22%;
    padding-top: 6px;
    float: none;
    display: block;
    clear: left;
}
#org_openpsa_projects_savebutton
{
    display: block;
    margin-left: 22%;
}

/* Image preview */
div.form_viewfield table img
{
    overflow: hidden;
    width: 40%;
}

/* Hidden form fields */
div.hidden, form.datamanager fieldset.hidden 
{ 
    display: none; 
}

/* Community HTML widget */
form.datamanager span.communityhtml_toolbar select
{
    display: inline;
    clear: none;
    float: none;
}