/* Datamanager CSS rules. Include this whenever you want to have
 * a datamangager (or at least create the corresponding style
 * rules).
 *
 * $Id$
 */


/************************ External References ******************************
 * These must go first, so that CSS is happy.
 * Dont use any media Tags, IE will ignore it.
 */

@import "../midcom.helper.datamanager/jscript-calendar/jscalendar.css";
@import "../midcom.helper.datamanager/htmlarea/htmlarea.css";


form.datamanager label 
{
  display: block;
  padding: 3px 0 3px 0;
  font-weight: bold;
}

form.datamanager label input, 
  form.datamanager label textarea, 
  form.datamanager label select, 
  form.datamanager label button
{
  margin: 0.5ex 0 0 0;
  display: block;
}

form.datamanager fieldset 
{
  margin: 1ex 0 1ex 0;
  padding: 3px 10px;
}

form.datamanager fieldset legend 
{
  font-weight: bold;
  /* border: 1px solid black; */
  padding: 1px 3px;
}

form.datamanager required
{
  font-weight: bold;
}

form.datamanager missing
{
  color: red;
}

form.datamanager fieldset.account legend,
  form.datamanager fieldset.blob legend,
  form.datamanager fieldset.image legend,
  form.datamanager fieldset.collection legend,
  form.datamanager fieldset.radiobox legend,
  form.datamanager fieldset.date legend,
  form.datamanager fieldset.mailtemplate legend
{
   	font-weight: normal;
}

form.datamanager fieldset.radiobox label
{
	display: inline;
	margin: 0px 10px 0px 0px;
	white-space: nowrap;
}

form.datamanager fieldset.radiobox input
{
	display: inline;
	vertical-align: top !important;
	vertical-align: baseline; /* This one is for IE */
}

form.datamanager fieldset.date
{
	border: none;
    padding: 3px 0 3px 0;
	margin: 0;
	display: inline !important;
}

form.datamanager fieldset.date input.date
{
    display: inline !important;
    width: 10em !important;
}

form.datamanager fieldset.date button.date
{
	display: inline;
    margin: 0px 0px 0px 5px;
    width: 24px;
    height: 20px;
    background-image: url('../stock-icons/16x16/web-calendar.png');
    background-repeat: no-repeat;
}

form.datamanager div.blob_preview,
  form.datamanager div.image_preview
{
	float: right;
	width: 180px;
	padding: 5px;
	border: 1px solid black;
	margin: 5px;
	text-align: center;
}

form.datamanager div.image_frame
{
	width: 180px;
	height: 140px;
	margin: 0px;
	padding: 0px;
	border: none;
	overflow: scroll;
}

form.datamanager fieldset.collection fieldset legend
{
	/* Hide the captions of all directly contained blobs, would look weird. */
    display: none;
}

form.datamanager label.communityhtml select
{
    display: inline;
}

form.datamanager textarea.communityhtml
{
    width: 500px;
    height: 250px;
}

form.datamanager span.communityhtml_toolbar img
{ 
    border: none;
}

/* Save and cancel buttons */
form.datamanager div.form_toolbar
{
    /* As default try to avoid getting the toolbar into funny location even if the site CSS is a bit crooked */
    clear: both;
}
form.datamanager div.form_toolbar input.save
{
    padding-left: 18px;
    background-image: url('../stock-icons/16x16/save.png');
    background-repeat: no-repeat;
    background-position: left;
}
form.datamanager div.form_toolbar input.cancel
{
    padding-left: 18px;
    background-image: url('../stock-icons/16x16/cancel.png');
    background-repeat: no-repeat;
    background-position: left;
}

/* Contact chooser layouts */
form.datamanager div.widget_contactchooser .hidden {
    visibility: hidden;
}
form.datamanager div.widget_contactchooser label {
    font-weight: normal;
    clear: left;
    padding-bottom: 2px;
    padding-left: 6px;
}
form.datamanager ul.widget_contactchooser_selected {
    margin: 0px;
    padding: 0px;
    list-style: none;
    /* TODO: Figure out a good way to scale this on the fly untill set limit     overflow: auto;
    max-height: 20em;    max-width: 16em;
    */
}
form.datamanager ul.widget_contactchooser_selected li {
    display: block;
    clear: left;    
}
form.datamanager ul.widget_contactchooser_selected input {
    display: inline;
}
form.datamanager ul.widget_contactchooser_selected label {
    display: inline;
}
form.datamanager ul.widget_contactchooser_resultset {
    clear: left;
    background-color: #EAE8E3;
    color: #000000;
    border: 1px solid #BAB5AB;
    width: 60%;
    z-index: 200;
    padding: 0px;
    margin: 0px;
}
form.datamanager ul.widget_contactchooser_resultset li {
    list-style: none;
}
form.datamanager ul.widget_contactchooser_resultset li a {
    text-decoration: none;
    display: block;
    padding-left: 2px;
    padding-right: 2px;
}
form.datamanager ul.widget_contactchooser_resultset li a:hover {
    text-decoration: none;
    background-color: #BAB5AB;
}
form.datamanager div.widget_contactchooser input.ajax_editable {
    background-position: right;
    background-repeat: no-repeat;
    background-image: url("../stock-icons/16x16/view.png");
    padding-right: 18px;
    display: block;
    width: 60%;    
}

/* Checkbox display */
form.datamanager input.checkbox {
    display: inline;
}
form.datamanager label.checkbox {
    display: inline;
}
form.datamanager label.checkbox div {
    display: inline;
}

/* Selection lists */
div.form_multiselect ul, div.form_contactchooser ul
{
    margin: 0px;
    padding: 0px;
}
div.form_multiselect ul li, div.form_contactchooser ul li
{
    list-style: none;
}

form.datamanager table.datamanager_table 
{
	margin: 1em;
}

form.datamanager table.datamanager_table td 
{
	border: 0.2px solid #000000;
	text-align: center;
}

form.datamanager table.datamanager_table td.datamanager_table_rows_header
{
	font-weight:bold;
	padding:0.3em;
}

form.datamanager table.datamanager_table td input.shorttext
{
	border:none;
    background-color: #EAE8E3;
   	text-align: left;
}

