body.style-editor
{
    font-family: 'Verdana', 'Arial', 'Helvetica', sans-serif;
    font-size: 10pt;
}

body.style-editor #container div.breadcrumb
{
    font-size: 80%;
    margin: 1em 0;
}

body.style-editor form.midcom_admin_folder_styleeditor textarea.element
{
    width: 90%;
    height: 30em;
}

body.style-editor form.midcom_admin_folder_styleeditor pre
{
    width: 90%;
    overflow: auto;
}

body.style-editor fieldset legend
{
    font-weight: bold;
}

body.style-editor fieldset.component_default legend
{
    background-repeat: no-repeat;
    background-position: middle left;
    min-height: 16px;
    cursor: pointer;
    cursor: hand;
}

body.style-editor fieldset.component_default div.content span.copy
{
    font-weight: bold;
    cursor: pointer;
    cursor: hand;
}

body.style-editor fieldset button,
body.style-editor form input.save,
body.style-editor form input.delete
{
    background-repeat: no-repeat;
    background-position: middle left;
    padding-left: 18px;
    line-height: 16px;
    min-height: 16px;
    border-style: solid;
    border-width: thin;
    border-color: black;
    cursor: pointer;
    cursor: hand;
    border-style: solid;
    border-color: #f9f8f9 #828183 #828183 #f9f8f9;
    border-width: 2px;
}

body.style-editor fieldset button:hover,
body.style-editor form input.save:hover,
body.style-editor form input.delete:hover
{
    background-color: #dddddd;
}

body.style-editor fieldset button.copy
{
    background-image: url('../stock-icons/16x16/editcopy.png');
}

body.style-editor form input.save
{
    background-image: url('../stock-icons/16x16/save.png');
}

body.style-editor form input.delete
{
    background-image: url('../stock-icons/16x16/trash.png');
}

body.style-editor #container a:link,
body.style-editor #container a:visited
{
    text-decoration: none;
    font-weight: bold;
    color: black;
}

body.style-editor #container a:hover,
body.style-editor #container a:visited:hover
{
    text-decoration: underline;
}

#midcom_admin_styleeditor .twisty:hover
{
    background-color: #f0f0f0;
    border: 1px solid #e0e0e0;
    margin-left: -1px;
}

#midcom_admin_styleeditor .collapsible
{
    margin-top: 5px;
}

#midcom_admin_styleeditor .collapsible a:link
{
    color: #666666;
}

#midcom_admin_styleeditor .collapsible a img
{
    border: none;
}

#midcom_admin_styleeditor .collapsible > div
{
    border-left: 1px dashed #c0c0c0;
    margin: 2px;
}

#midcom_admin_styleeditor .collapsible > div > div
{
    padding: 6px;
}

#midcom_admin_styleeditor .collapsible a
{
    color: #3465a4;
    text-decoration: none;
    font-weight: bold;
}

/** File management styles */
body.style-editor div.file-manager div.filelist
{
    float: left;
    width: 26%;
    overflow: auto;
    height: 100%;
    background-color: #e9b96e;
    padding: 2%;
}
body.style-editor div.file-manager div.filelist ul
{
    margin: 0px;
    padding: 0px;
    white-space: nowrap;
}
body.style-editor div.file-manager div.filelist ul li a
{
    display: block;
    padding: 4px;
    -moz-border-radius: 6px;
    margin-bottom: 4px;
}
body.style-editor div.file-manager div.filelist ul li.selected a, 
body.style-editor div.file-manager div.filelist ul li a:hover
{
    background-color: #8f5902;
}
body.style-editor div.file-manager div.filelist ul li a img
{
    border: none;
    vertical-align: middle;
}
body.style-editor div.file-manager div.main
{
    float: left;
    width: 68%;
    margin-left: 2%;
}
body.style-editor div.file-manager div.main h1
{
    margin-top: 0px;
}
body.style-editor div.file-manager div.main form
{
    border: 1px solid #ce5c00;
    padding: 6px;
    margin-bottom: 1em;
}
body.style-editor div.file-manager div.main form hr
{
    margin-top: 1em;
    margin-bottom: 1em;
    border: none;
    width: 80%;
    height: 1px;
    background-color: #ce5c00;
}
body.style-editor fieldset
{
    border: none;
    margin-bottom: 6px;
}
body.style-editor fieldset legend
{
    margin-left: 0px;
    padding-left: 0px;
    text-transform: uppercase;
}
body.style-editor div.file-manager div.main form label span
{
    margin-top: 6px;
    display: block;
    font-weight: bold;
}
body.style-editor div.file-manager div.main form input, 
body.style-editor div.file-manager div.main form textarea,
body.style-editor div.file-manager div.main form select
{
    display: block;
    margin-left: 2%;
}
body.style-editor form input.text,
body.style-editor form textarea
{
    width: 90%;
}

body.style-editor div.file-manager div.main form.urlform a img
{
    border: none;
    vertical-align: middle;
}

/** Style edit/view */
#midcom_admin_styleeditor_style_view
{
    padding: 1em;
}

/** Style list */
#midcom_admin_styleeditor_stylelist fieldset,
#midcom_admin_styleeditor_style fieldset
{
    background-color: #d3d7cf;
    -moz-border-radius: 6px;
    margin-top: -10px;
}

#midcom_admin_styleeditor_stylelist fieldset a,
#midcom_admin_styleeditor_style fieldset a,
#midcom_admin_styleeditor_stylelist fieldset,
#midcom_admin_styleeditor_style fieldset
{
    color: #000000 !important;
}

#midcom_admin_styleeditor_stylelist fieldset legend,
#midcom_admin_styleeditor_style fieldset legend
{
    padding-top: 22px;
}

#midcom_admin_styleeditor_stylelist fieldset div.description,
#midcom_admin_styleeditor_style fieldset div.description
{
    margin-left: 2em;
    font-size: 0.9em;
    background-color: #eeeeec;
    padding: 1em;
    -moz-border-radius: 6px;
}

#midcom_admin_styleeditor_style fieldset div.description
{
    max-height: 20em;
    overflow: auto;
}

#midcom_admin_styleeditor_style div.message
{
	color: red;
}