html
{
  height: 100%;
}

body
{
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Verdana', 'Arial', 'Helvetica', sans-serif;
  font-size: 10pt;
  background-color: white;
  color: black;
}

#container-wrapper
{
  position: relative;
  min-height: 100%;
}

* html #container-wrapper
{
  height: 100%;
}

#container
{
  padding: 1em 1em 58px;
}

#navigation,
#content
{
  margin: 0em;
}

#navigation
{
  background-color: #d3d7cf;
  width: 16em;
  float: left;
  padding: 1em;
  -moz-border-radius: 6px;
}

#container > #navigation
{
  width: 14em;
}

#navigation div.grouplogo h2
{
  margin: 0;
  font-size: 100%;
}

#navigation ul
{
  padding: 0 0 0 1.3em;
  margin: 0;
}

#navigation div.chapter h3
{
  background-color: #d3d7cf;
  text-align:center;
  font-size: 100%;
  margin-bottom: 6px;
}


#navigation div.section
{
  background-color: #eeeeec;
  margin-bottom: 6px;
  -moz-border-radius: 6px;
}

#navigation div.section.selected
{
  background-color: white;
  padding-bottom: 1em;
}

#navigation div.section ul.midgard_admin_asgard_navigation
{
  margin: 0;
  padding: 5px;
  list-style-type: none;
  width: 90%;
  overflow: auto;
}
#navigation div.section ul.midgard_admin_asgard_navigation ul
{
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  list-style-type: none;
}
#navigation div.section ul.midgard_admin_asgard_navigation li
{
    margin: 0px;
    padding: 0px;
    line-height: 18px;
    white-space: nowrap;
}
#navigation div.section ul.midgard_admin_asgard_navigation ul li
{
    margin-left: 20px;
}
#navigation div.section ul.midgard_admin_asgard_navigation li a
{
    display: block;
}
#navigation div.section ul.midgard_admin_asgard_navigation li a:hover
{
    background-color: white;
}
#navigation div.section ul.midgard_admin_asgard_navigation li.current a
{
    font-weight: bold;
}
#navigation div.section ul.midgard_admin_asgard_navigation li.current li a
{
    font-weight: normal;
}

#navigation h3
{
    background-color: #babdb6;
    margin: 0;
    padding: 0.2em 0.5em;
    font-size: 100%;
    -moz-border-radius-topleft: 6px;
    -moz-border-radius-topright: 6px;
}

#navigation h3 a
{
  color: black !important;
  display: block;
}

#content
{
  background-color: #d3d7cf;
  margin-left: 17em;
  padding: 1em;
  -moz-border-radius: 6px;
}
#content div.page-title
{
  background-color: #555753;
  color: #ffffff;
  padding: 0.5em 0.5em;
  margin-left: -0.5em;
  margin-right: -0.5em;
  margin-top: -0.5em;
  margin-bottom: 0.5em;
  -moz-border-radius: 6px;
}
#content div.page-title h1
{
  font-size: 10pt;
  margin: 0px;
  width: 100%;
}

#content div.page-title h1 .object_language
{
    float: right;
}

#content div.backtosite
{
  width: auto;
  float: right;
  margin-left: 0.5em;
  margin-right: 0.5em;
  margin-bottom: 0.5em;        
}

#content select.language_chooser option.exists
{
    font-weight: bold;
    color: blue;
}

#content form.datamanager2 div.form_toolbar
{
    margin-top: 6px;
}
#content form.datamanager2 div.form_toolbar input
{
    color: #204A87;
    background-color: #d3d7cf;
    border: none;
    margin-right: 14px;
    padding: 4px;
    padding-left: 22px;
    background-position: 4px;
    cursor: pointer;
}
#content form.datamanager2 div.form_toolbar input.save
{
    background-color: #eeeeec;
    color: #000000;
    border-top: 3px solid #ffffff;
    border-left: 3px solid #ffffff;
    border-right: 3px solid #babdb6;
    border-bottom: 3px solid #babdb6;
    -moz-border-radius: 6px;
}

#container a:link,
#container a:visited
{
  color: #204a87;
  text-decoration: none;
}

#container a:hover,
#container a:visited:hover
{
  text-decoration: underline;
}

#container #toolbar ul
{
  padding: 0;
  margin: 0;
  display: block;
  list-style: none;
  background-color: #eeeeef;
  padding: 0.4em 1em;
  line-height: 22px;
  -moz-border-radius: 6px;
}

#container #toolbar ul li
{
  display: inline;
  margin: 0;
  padding: 4px;
  margin-right: 2px;
  -moz-border-radius: 6px;
}

#container #toolbar ul li a
{
  margin: 0;
  white-space: nowrap;
}

#container #toolbar ul li abbr
{
  border: none;
}

#container #toolbar ul li img
{
    border: none;
    vertical-align: middle;
    margin-bottom: 3px;
}

#container #toolbar ul li:hover,
#container #toolbar ul li:hover a,
#container #toolbar ul li a:hover,
#container #toolbar ul li.selected,
#container #toolbar ul li.selected a
{
  background-color: white;
}
#container #toolbar ul li.disabled
{
  background-color: #d3d7cf;
}

#breadcrumb
{
  margin-bottom: 1em;
  font-size: 90%;
  border-bottom: solid 1px black;
}

#siteinfo
{
  background-image: url('grid.png');
  background-position: top left;
  background-repeat: repeat-x;
  height: 58px;
  margin-top: -58px;
  line-height: 28px;
  padding-top: 30px;
  padding-left: 1em;
  vertical-align: middle;
  overflow: hidden;
  position: relative;
  clear: both;
}

#siteinfo img
{
    vertical-align: middle;
    margin-right: 1em;
}

html > body #siteinfo
{
  height: 28px;
}

#siteinfo span.copyrights
{
  font-size: 80%;
}

#siteinfo span.copyrights,
#siteinfo a
{
  color: #555753;
}

#siteinfo a:link,
#siteinfo a:visited
{
  text-decoration: none;
}

#siteinfo a:hover,
#siteinfo a:visited:hover
{
  text-decoration: underline;
}

#object_metadata
{
  font-size: 80%;
  margin-top: 2em;
  border-top: solid 1px black;
}
