#invite_login_holder
{
    background: url('../images/invite_block_bg.gif') bottom left no-repeat;
}
#invite_login_holder .tabs_content
{
    margin: 0;
    padding: 0;
    width: 485px;
    height: 119px;
}
#invite_login_holder .tabs_content h2
{
    margin: 0;
    padding: 0;
    padding-top: 10px;
    padding-left: 15px;
    margin-bottom: 3px;
}
#invite_login_holder .tabs_content .invite_login_form
{
    width: 265px;
    float: left;
    padding-left: 10px;
}
#invite_login_holder .tabs_content .invite_login_form label
{
    display: block;
    width: 60px;
    text-align: right;
    float: left;
    height: 18px;
    line-height: 18px;
    padding-top: 2px;
    margin-right: 3px;
}
#invite_login_holder .tabs_content .invite_login_form input.text
{
    float: left;
    width: 100px;
    border: 1px solid #818181;
    margin-bottom: 2px;
    height: 18px;
    line-height: 18px;
    margin-right: 3px;
}
#invite_login_holder .tabs_content .invite_login_form input.text.error
{
    border: 1px solid red;
}
#invite_login_holder .tabs_content .description
{
    margin: 0;
    width: 195px;
    float: left;
    font-size: 0.7em;
    color: #838383;
}
#invite_login_holder .invite_tabs
{
    margin: 0;
    height: 37px;
}
#invite_login_holder .invite_tabs ul
{
    margin: 0;
    padding: 0;
    list-style-type: none;
}
#invite_login_holder .invite_tabs ul li
{
    height: 37px;
    margin: 0;
    padding: 0;
    float: left;
}
#invite_login_holder .invite_tabs ul li a
{
    height: 37px;
    line-height: 37px;
    width: 100%;
}
#invite_login_holder .invite_tabs ul #itab_item_yahoo
{
    width: 91px;
    background: url('../images/invite_tab_yahoo.gif') left bottom no-repeat;
}
#invite_login_holder .invite_tabs ul #itab_item_yahoo.ay
{
    background: url('../images/invite_tab_active_yahoo.gif') left bottom no-repeat;
}
#invite_login_holder .invite_tabs ul #itab_item_gmail
{
    width: 80px;
    background: url('../images/invite_tab_gmail.gif') left bottom no-repeat;
}
#invite_login_holder .invite_tabs ul #itab_item_gmail.ag
{
    background: url('../images/invite_tab_active_gmail.gif') left bottom no-repeat;
}
#invite_login_holder .invite_tabs ul #itab_item_myspace
{
    width: 90px;
    background: url('../images/invite_tab_myspace.gif') left bottom no-repeat;
}
#invite_login_holder .invite_tabs ul #itab_item_myspace.am
{
    background: url('../images/invite_tab_active_myspace.gif') left bottom no-repeat;
}

#invite_login_holder .invite_tabs ul #itab_item_hotmail
{
    width: 120px;
    background: url('../images/invite_tab_hotmail.gif') left bottom no-repeat;
}
#invite_login_holder .invite_tabs ul #itab_item_hotmail.ah
{
    background: url('../images/invite_tab_active_hotmail.gif') right bottom no-repeat;
}