table.expenses
{
    border-collapse: collapse
}

table.expenses thead th
{
    border-bottom: 1px solid black
}

table.expenses td
{
    padding: 2px 5px
}

table.expenses tr.totals td
{
    border-top: 1px solid black
}

table.expenses tr.even td 
{
    background-color:#E0E0E0;
}