.maa_permissions_header
{
    margin: 10px 0 5px 0;
    padding: 5px;
    border: 1px solid #000;
}

.maa_permissions_rows
{
    margin: 10px 0 5px 0;
    padding: 5px;
    border: 1px solid #000;
}

.maa_permissions_footer
{
    margin: 10px 0 5px 0;
    padding: 5px;
    border: 1px solid #000;
}

.maa_permissions_rows ul.items
{
    display: block;
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.maa_permissions_rows li
{
    display: block;
    height: 20px;
    margin: 0;
    padding: 0;
}
.maa_permissions_rows li.odd
{
    background-color: #ddd;
}
.maa_permissions_rows li.even
{
    background-color: #eee;
}

.maa_permissions_rows_header
{
    margin-bottom: 5px;
    height: 60px;
    clear: right;
}

.maa_permissions_rows_header div,
.maa_permissions_rows_row div.row_value
{   
    height: 20px;
    line-height: 20px;
    display: block;
    float: left;
    min-width: 8%;
    text-align: center;
}
div.topic_management,
div.template_management,
div.component_config,
div.admin_folder
{
    width: 102px;
}

.maa_permissions_rows_header div
{
    height: auto;
}
.maa_permissions_rows_header div
{
    font-weight: bold;   
}
.maa_permissions_rows_header div span
{
    padding: 0 5px 0 5px;
    vertical-align: top;
}

.maa_permissions_rows_header div.assignee_name,
.maa_permissions_rows_row div.assignee_name
{
    text-align: left;
    width: 180px;
    overflow: hidden;
}
.maa_permissions_rows_header div.row_actions,
.maa_permissions_rows_row div.row_actions
{
    text-align: center;
    width: 40px;
}
.maa_permissions_rows_header div.assignee_name span,
.maa_permissions_rows_row div.assignee_name span
{
    margin-left: 10px;
}
.maa_permissions_rows_row div span
{
    white-space: nowrap;
}

.draghandle
{
    background: url('drag-grid.gif') repeat top left;
    width: 15px;
    height: 18px;
    cursor: move;
    background-color: gray;
    float: left;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
}

div.privilege_actions,
div.privilege_action
{
    display: inline;
    margin-right: 3px;
}
div.privilege_action
{
    cursor: pointer;
}
div.privilege_action img
{
    padding-top: 2px;   
}