span.ajax_editable
{

}

span.ajax_editable:hover
{
    background-color: #ffff99;
    cursor: text;
}

button.midcom_helper_datamanager2_composite_delete_button
{
    border: none;
    background-color: none;
    width: 18px;
    height: 18px;
    padding: 0px;
}
button.midcom_helper_datamanager2_composite_delete_button img
{
    padding: 0px;
    margin: 0px;
}
button.midcom_helper_datamanager2_composite_delete_button:hover
{
    background-color: #fcaf3e;
}

button.midcom_helper_datamanager2_composite_create_button
{
    border: 1px solid #000000;
    background-color: none;
    margin: 4px;
    padding-left: 18px;
    background-image: url('../stock-icons/16x16/new-html.png');
    background-repeat: no-repeat;
    background-position: left;
}
button.midcom_helper_datamanager2_composite_create_button:hover
{
    background-color: #fcaf3e;
}