#org_routamc_gallery ul
{
  padding: 0;
  margin: 1em 0;
  list-style: none;
  border-style: solid none;
  border-width: 1px;
  border-color: black;
}

#org_routamc_gallery li
{
  padding: 0;
  margin: 0;
  font-weight: normal;
  color: black;
  clear: both;
}

#org_routamc_gallery ul li h3:hover
{
  background-color: #888a85;
  color: black;
}

#org_routamc_gallery ul ul li:hover
{
  background-color: #d3d7cf;
  color: black;
}

#org_routamc_gallery ul ul
{
  padding: 1em 0;;
  margin: 0;
}

#org_routamc_gallery ul ul li
{
  border-bottom: solid 1px black;
  padding: 0.5em;
}

#org_routamc_gallery ul li h3
{
  padding: 0.5em;
  margin: 0;
  color: black;
  background-color: #babdb6;
  color: black;
  border-style: none solid;
  border-width: 1px;
  border-color: black;
}

#org_routamc_gallery img.hidden
{
  display: none;
}

#org_routamc_gallery_sort span.thumbnail
{
  display: block;
  float: left;
  width: 30%;
  overflow: hidden;
}

#org_routamc_gallery_sort div.details
{
  float: left;
  margin-left: 1em;
  width: 65%;
  overflow: hidden;
}

#org_routamc_gallery_sort div.details p
{
  margin: 0 0 0.5em;
}

#org_routamc_gallery_sort div.details p.title
{
  font-weight: bold;
}

#org_routamc_gallery_sort div.details p.description
{
  font-weight: normal;
}

#org_routamc_gallery_sort hr.break
{
  clear: both;
  border-style: none;
  height: 0;
  width: 0;
  margin: 0;
  padding: 0;
  visibility: hidden;
}

#org_routamc_gallery_sort input.shorttext,
#org_routamc_gallery_sort textarea.longtext
{
  width: 95% !important;
}