.midcom_helper_datamanager2_widget_position
{
    width: 450px;
}

.position_widget_tab_content_place .geodata_btn
{
    margin-right: 5px;
    float: right;
    width: 16px;
    height: 16px;
    background: url('refresh_geodata.png');
    cursor: pointer;
}

.position_widget_tab_content_place .indicator
{
    margin-right: 5px;
    float: right;
    width: 16px;
    height: 16px;
    background: url('../ajax-loading-small.gif');
}