table.net_nemein_reservations_list
{
    width: 100%;
}

table.net_nemein_reservations_list tbody tr
{
    vertical-align: top;
}

table.net_nemein_reservations_list tbody tr td.participants ul.participants
{
    margin: 0px;
    padding: 0px;
    list-style-type: none;
    display: inline;
}

table.net_nemein_reservations_list tbody tr td.resources ul.resources
{
    margin: 0px;
    padding: 0px;
    list-style-type: none;
    display: inline;
}

table.net_nemein_reservations_list tbody tr td.description p:first-child
{
    margin-top: 0px;
}


h1.reservation abbr.dtstart, h1.reservation abbr.dtend, table.net_nemein_reservations_list tbody tr td.datetime abbr.dtstart, table.net_nemein_reservations_list tbody tr td.datetime abbr.dtend
{
    text-decoration: none;
    outline: 0px;
    border: 0px;
}
