ol.org_openpsa_relatedto_list
{
    list-style: none;
    margin: 0px;
    padding: 4px;
}
ol.org_openpsa_relatedto_list > li
{
    margin-bottom: 1em;
    padding-left: 24px;
    list-style: none;
    border-style: solid;
    border-width: 1px;
    border-color: #babdb6;
    -moz-border-radius: 8px;
    background-position: 4px 4px;
    background-repeat: no-repeat;
}
ol.org_openpsa_relatedto_list li span.title
{
  background-color: #e9ede4;
  padding: 0 0.5em;
  margin: 0;
  border-left: solid 1px #babdb6;
  border-bottom: solid 1px #babdb6;
  -moz-border-radius-bottomleft: 8px;
  display: block;
  line-height: 24px;
  font-weight: bold;
}
ol.org_openpsa_relatedto_list li.unknown
{
    display: none;
}
ol.org_openpsa_relatedto_list li.task
{
    background-image: url('../stock-icons/16x16/new_task.png');
}
ol.org_openpsa_relatedto_list li.event
{
    background-image: url('../stock-icons/16x16/stock_new-event.png');
}
ol.org_openpsa_relatedto_list li.note
{
    background-image: url('../stock-icons/16x16/new-text.png');
}
ol.org_openpsa_relatedto_list li.email
{
    background-image: url('../stock-icons/16x16/stock_mail.png');
}
ol.org_openpsa_relatedto_list li.document
{
    background-image: url('../stock-icons/16x16/stock_folder.png');
}
ol.org_openpsa_relatedto_list li.salesproject
{
    background-image: url('../stock-icons/16x16/stock_people.png');
}
ol.org_openpsa_relatedto_list li.invoice
{
    background-image: url('../stock-icons/16x16/printer.png');
}
ol.org_openpsa_relatedto_list li ul.metadata
{
    list-style: none;
    margin: 0px;
    padding-top: 3px;
    padding-left: 0.5em;
    padding-right: 6px;
    padding-bottom: 6px;
}
ol.org_openpsa_relatedto_list li ul.metadata li
{
    padding-left: 0px;
    margin-left: 0px;
}
ol.org_openpsa_relatedto_list li ul.relatedto_toolbar
{
    list-style: none;
    margin: 0px;
    padding-top: 3px;
    padding-left: 0.5em;
    padding-bottom: 6px;
}
ol.org_openpsa_relatedto_list li ul.relatedto_toolbar li
{
    display: inline;
}
ol.org_openpsa_relatedto_list li ul.relatedto_toolbar li form
{
    display: inline;
}
ol.org_openpsa_relatedto_list div
{
    padding-left: 1em;
    font-size: smaller;
}
ol.org_openpsa_relatedto_list div.ajax_busy
{
    background-image: url('../org.openpsa.helpers/ajax-loading.gif');
    height: 20px;
    background-position: center;
    background-repeat: no-repeat;
    display: block;
}