div.org_openpsa_invoices table.invoices .sum
{
    text-align: right;
    padding-right: 10px;
}
div.org_openpsa_invoices table.invoices td.id
{
    font-weight: bold;
}
div.org_openpsa_invoices table.invoices tr.even td
{
    background-color: #e0e0e0;
}
div.org_openpsa_invoices table.invoices
{
    border-collapse: collapse;
}
div.org_openpsa_invoices table.invoices th
{
    background-color: #3465a4;
    color: #ffffff;
    width: 80px;
    text-align: left;
}
div.org_openpsa_invoices table.invoices th.contact
{
    width: 140px;
}

div.org_openpsa_invoices table.overdue th
{
    background-color: #ef2929;
    color: #ffffff;
}
div.org_openpsa_invoices table.paid th
{
    background-color: #4e9a06;
    color: #ffffff;
}
div.org_openpsa_invoices table.invoices tfoot
{
    margin-top: 4px;
    border-top: 1px solid #000000;
}