html {
    /*background-color: #FFFFCC;*/
    background-color: #FFF;
    color:#3c3c3c;
    font-family: Verdana, Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
    padding: 0;
    text-align: left;
    font-size: 8pt;
}

.application {
    position: absolute;
    top: 0;
    left: 0;
/*  width: 670px;
    height: 380px;*/
    width: 100%;
    height: 100%;
    background-color: #fff;
}

.header {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 23px;
    text-align: right;
    background-color: #eeeeec;
}
.header div
{
    height: 23px;
    line-height: 23px;
    margin-right: 10px;
    float: right;
    clear: left;
}
.header div img
{
    margin-top: 4px;
}
.header select
{
    margin-top: 0px;
    font-size: 8pt;
    height: 16px;
    line-height: 16px;
}
/* Opera 7> Hack */
@media all and (min-width: 0px)
{
    .header select
    {
        margin-top: 0px;
        margin-left: 0px;
        margin-right: 0px;
        font-size: 8pt;
        height: 20px;
        line-height: 20px;
    }
}

.container {
    position: relative;
    top: 0;
    left: 0;
    height: 330px;
}
.container-helper {
    margin: 10px;
}

/*.layer-holder {
    border: 1px solid #0099FF;
    height: 90%;
    width: 90%;
}*/
