/* Entry listings */
table.list
{
    border-collapse: collapse;
}

table.list thead th
{
    background-color: #3465a4;
    color: #ffffff;
    text-align: left;
    padding-right: 8px;
}

table.list tr
{
    vertical-align: top;
}

table.list td
{
    padding-right: 8px;
}
table.list td.title
{
    font-weight: bold;
}
table.list th.numeric, table.list td.numeric
{
    text-align: right;
}
table.list tr.even td
{
    background-color: #e0e0e0;
}

table.list tfoot
{
    margin-top: 10px;
}

table.list tfoot td
{
    border-top: 1px solid #000000;
}
