/**
 * Add simple styles for ui messages without javascript
**/

div.midcom_services_uimessages_holder
{
    margin: 15px;
    padding: 5px;
    font-color: #000;
}

div.midcom_services_uimessages_message
{
    margin: 10px 0 10px 0;
}
div.midcom_services_uimessages_message.info
{
    border: 1px solid green;
}
div.midcom_services_uimessages_message.ok
{
    border: 1px solid green;
}
div.midcom_services_uimessages_message.warning
{
    border: 1px solid red;
}
div.midcom_services_uimessages_message.error
{
    border: 1px solid red;
}
div.midcom_services_uimessages_message.debug
{
    border: 1px solid yellow;
}

div.midcom_services_uimessages_message_title
{
    font-weight: bold;
}
div.midcom_services_uimessages_message_msg
{
    
}