.accordion {
    width: 100%;
    background-color: #FFFFFF;
    border-top: 1px solid #826647;
    border-bottom: 1px solid #826647;
}
.accordion .accordion-leaf-header {
    height: 24px;
    line-height: 24px;
    padding: 0 10px;
    font-weight: bold;
    color: #fff;
    background: url(../images/panel-accordion-bg.gif) top left no-repeat;
    cursor: pointer;
}
.accordion .accordion-leaf-body {
    padding: 5px;
    margin: 0;
    border-left: 1px solid #826647;
    border-right: 1px solid #826647;
    overflow: auto;
}
.accordion .accordion-leaf-body p {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}
.accordion .accordion-leaf-body .accordion-leaf-menu
{
    height: 18px;
    margin-bottom: 3px;
    padding: 1px 3px 1px 3px;
    background-color: #d7c5b0;
    -moz-border-radius: 4px;
}
.accordion .accordion-leaf-body .accordion-leaf-menu ul.leaf-menu
{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.accordion .accordion-leaf-body .accordion-leaf-menu ul.leaf-menu li
{
    height: 18px;
    line-height: 18px;
    margin: 0;
    margin-right: 3px;
    padding: 0;
    padding-right: 3px;
    border-right: 1px solid #826647;
    float: left;
    background-color: #d7c5b0;
    
}
.accordion .accordion-leaf-body .accordion-leaf-menu ul.leaf-menu li a
{
    height: 18px;
    line-height: 18px;
    margin-right: 3px;
    /*background-color: #b39169;*/
}
.accordion .accordion-leaf-body .accordion-leaf-menu ul.leaf-menu li a img
{
    border: none;
}
.accordion .accordion-leaf-hover
{
    background-color: #90ef30;
}
.accordion .accordion-leaf-active
{
    background-color: #6CAF00;
}

.panel {
    width: 200px;
    max-height: 380px;
    background-color: #FF9900;
    color: #333333;
    position: absolute;
    top: 0px;
    left: 1px;
    overflow: hidden;
    text-align: left;
}
.panel-header {
    height: 22px;
    font-size: 9pt;
    font-weight: bold;
    padding: 0 0 0 10px;
    line-height: 18px;
    color: #333333;
    background: url(../images/panel-toggle-bg.gif) top left no-repeat #FF9900;
    cursor: pointer;
}
.panel-header span {
}
.panel-content {
    padding: 0;
}

#main-panel-accordion {
    width: 200px;
}

.accordion-leaf-body ul
{
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.accordion-leaf-body ul ul
{
    margin: 2px 0 2px 5px;
}
.accordion-leaf-body ul li,
.accordion-leaf-body ul ul li
{
    margin: 0 0 3px 0;
    padding: 0;
    height: 19px;
    line-height: 19px;
    background-color: #FFFFFF;
}
.accordion-leaf-body ul li div,
.accordion-leaf-body ul ul li div
{
    margin: 0 3px 0 3px;
    padding: 0;
    float: left;
    clear: right;
}

.accordion-leaf-body ul li div.calendar-visibility input {
    margin: 2px 0 0 0;
}
.accordion-leaf-body ul li div.calendar-name {
    width: 110px;
    height: 15px;
    line-height: 17px;
    color: #fff;
    padding: 0 0 0 5px;
    margin: 2px 0 0 0;
    -moz-border-radius: 0.6em 0.6em 0.6em 0.6em;
    cursor: pointer;
}
.accordion-leaf-body ul ul li div.calendar-name {
    width: 100px;
}
.accordion-leaf-body ul li div.calendar-order {
    width: 16px;
    margin: 1px 3px 0 3px;
}
.accordion-leaf-body ul ul li.first-item div.calendar-order a.graph-arrowUp {
    display: none;
}
.accordion-leaf-body ul ul li.first-item div.calendar-order a.graph-arrowDown {
    top: 9px;
}
.accordion-leaf-body ul ul li.last-item div.calendar-order a.graph-arrowDown {
    display: none;
}
.accordion-leaf-body ul ul li.only-item div.calendar-order a.graph-arrowDown, #main-panel-accordion ul ul li.only-item div.calendar-order a.graph-arrowUp {
    display: none;
}
.accordion-leaf-body ul li div.calendar-actions {
    margin: 2px 0 0 0;
    clear: none;
}

/* Buddylist panel */

#buddylist-item-list li.not-approved
{
    border: 1px solid red;
}

.pending-title
{
    font-weight: bold;
    font-size: 1.0em;
    margin-top: 5px;
    margin-bottom: 3px;
}

/* Buddylist panel ends */

/* Shelf panel */

.accordion-leaf-body #shelf-item-list li.active {
    border: 1px solid red;
}

/* Shelf panel ends*/