@media print
{
    ul.midcom_services_toolbars.midcom_services_toolbars_float
    {
        display: none !important;
        height: 0 !important;
        overflow: none;
    }
}


/* remove me! */
ul.midcom_services_toolbars.midcom_services_toolbars_float
{
    top: 40px;
    left: 10%;
}
/* */
ul.midcom_services_toolbars,
ul.midcom_services_toolbars ul
{
    list-style: none;
    margin: 0;
    padding: 0.2em 0;
    text-align: left;
}

ul.midcom_services_toolbars li
{
    line-height: 1.6em;
    vertical-align: middle;
}

ul.midcom_services_toolbars a img
{
    border-style: none;
    vertical-align: middle;
}

ul.midcom_services_toolbars_items li
{
    display: inline;
    padding-right: 0.8em;
    vertical-align: middle;
    padding-bottom: 2px;
    padding-top: 4px;
}

ul.midcom_services_toolbars_items li a
{
  white-space: nowrap;
}

ul.midcom_services_toolbars span.accesskey
{
    text-decoration: underline;
}

/**
 * Floating toolbar
 */
html body ul.midcom_services_toolbars.midcom_services_toolbars_float
{
    position: fixed;
    background-color: #000000;
    opacity: 0.8;
    filter: alpha(opacity=80);
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 10pt;
    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
}

* html ul.midcom_services_toolbars.midcom_services_toolbars_float
{
    position: absolute;
}

ul.midcom_services_toolbars.midcom_services_toolbars_float ul.midcom_services_toolbars_items
{
    border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px 6px;
    -webkit-border-radius: 0 6px 6px 6px;
}

ul.midcom_services_toolbars.midcom_services_toolbars_float ul.midcom_services_toolbars_items,
ul.midcom_services_toolbars.midcom_services_toolbars_float ul.midcom_services_toolbars_items li
{
    height: 0;
    overflow: hidden;
    padding: 0;
}

ul.midcom_services_toolbars.midcom_services_toolbars_float li:hover ul.midcom_services_toolbars_items,
ul.midcom_services_toolbars.midcom_services_toolbars_float li:hover ul.midcom_services_toolbars_items li
{
    display: block;
    height: auto;
}

ul.midcom_services_toolbars.midcom_services_toolbars_float,
ul.midcom_services_toolbars.midcom_services_toolbars_float a
{
    color: #ffffff;
    font-weight: normal;
    font-size: 100%;
}

ul.midcom_services_toolbars.midcom_services_toolbars_float li,
ul.midcom_services_toolbars.midcom_services_toolbars_float ul.midcom_services_toolbars_items li
{
    padding: 0 0.4em;
    display: block;
}

ul.midcom_services_toolbars.midcom_services_toolbars_float ul
{
  padding: 0;
}

/**
 * Grouped, floating toolbar. Mostly inherited from basic floating toolbar
 */
ul.midcom_services_toolbars.midcom_services_toolbars_float li div
{
    float: left;
    padding-right: 1em;
}

ul.midcom_services_toolbars.midcom_services_toolbars_float ul.midcom_services_toolbars_float_section_items li
{
    float: none;
    display: block;
}

ul.midcom_services_toolbars.midcom_services_toolbars_float div ul
{
    position: absolute;
    margin-left: -0.4em;
    width: 20em;
    background-color: #000000;
}

ul.midcom_services_toolbars.midcom_services_toolbars_float ul.midcom_services_toolbars_float_section_items li a
{
    text-decoration: none;
}

ul.midcom_services_toolbars.midcom_services_toolbars_float ul.midcom_services_toolbars_float_section_items li a:hover,
ul.midcom_services_toolbars.midcom_services_toolbars_float ul.midcom_services_toolbars_float_section_items li a:visited:hover
{
    text-decoration: none;
}
