/* Calendar common */

table.calendar-body
{
    width: 100%;
    height: 330px;
    border-left: 0;
    border-right: 0;
    border-top: 0;
    border-bottom: 0;
    table-layout: fixed;
}
table.calendar-body tr
{
    border-left: 0;
    border-right: 0;
    border-top: 0;
    border-bottom: 0;
}
table.calendar-body td, table.calendar-body th
{
    border-left: 0;
    border-right: 0;
    border-top: 0;
    border-bottom: 0;
}

table.calendar-timetable
{
    border-left: 0;
    border-right: 0;
    border-top: 0;
    border-bottom: 0;
}

tr.calendar-timetable-row th, tr.calendar-timetable-row td
{
    height: 20px;
    border-bottom: 1px solid #fff;
}


tr.calendar-timetable-row th
{
    text-align: center;
    color: #fff;
    background-color: #b39169;
    width: 45px;
}
tr.calendar-timetable-row td
{
    background-color: #d7cdb9;
    border-left: 1px solid #fff;
}

tr.odd td
{
    background-color: #fff;
}

tr.calendar-header-top th.today, tr.calendar-timetable-row td.today
{
    color: #3c3c3c;
    background-color: #d7c5b0;/*f0e9e1;*/
}

/* Layers */

div.calendar-layerholder
{
    position: absolute;
    top: 0px;
    right: 0px;
    width: 100%;
/*  height: 100%;*/
    background: transparent;
}

div.calendar-layer
{
    position: relative;
    top: 0;
    left: 0;
}


/* Day view */

body.day tr.calendar-header-top th
{
    height: 20px;
    text-align: center;
    line-height: 20px;
    color: #fff;
    background-color: #b39169;
}

body.day div.calendar-timeline-holder
{
    position: relative;
    width: 100%;
    height: 295px;
    overflow: scroll;
    o\verflow: -moz-scrollbars-vertical;
    o\verflow-y: scroll;
    o\verflow-x: hidden;
}

/* Week view */

body.week tr.calendar-header-top th
{
    height: 20px;
    text-align: center;
    line-height: 20px;
    color: #fff;
    background-color: #b39169;
}

body.week div.calendar-timeline-holder
{
    position: relative;
    width: 100%;
    height: 295px;
    overflow: scroll;
    o\verflow: -moz-scrollbars-vertical;
    o\verflow-y: scroll;
    o\verflow-x: hidden;
}

/* Month view */

body.month tr.calendar-header-top th
{
    height: 20px;
    text-align: center;
    line-height: 20px;
    color: #fff;
    background-color: #b39169;
}

body.month table.calendar-body
{
    border-left: 1px solid #826647;
    border-bottom: 1px solid #826647;
    border-right: 1px solid #826647;
}

body.month table.calendar-body tr td
{
    border-bottom: 1px solid #333333;
    border-right: 1px solid #333333;
    margin: 0;
    padding: 0;
    text-align: center;
}
body.month table.calendar-body tr.last-row td
{
    border-bottom: none;
}
body.month table.calendar-body tr td.last-column
{
    border-right: none;
}

body.month table.calendar-body tr td div
{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
body.month table.calendar-body tr td div.today
{
    background-color: #d7c5b0;
}
body.month table.calendar-body tr td div div.header
{
    height: 16px;
    line-height: 16px;
    text-align: right;
    cursor: pointer;
}
body.month table.calendar-body tr td div div.header img
{
    margin-top: 2px;
    margin-left: 2px;
    cursor: pointer;
}
body.month table.calendar-body tr td div div.header span.day-number
{
    font-weight: bold;
    margin-right: 2px;
}
body.month table.calendar-body tr td div div.content
{
    overflow: hidden;
    text-align: left;
}
body.month table.calendar-body tr td div div.content ul, body.month table.calendar-body tr td div div.content ul li
{
    margin: 0;
    padding: 0;
    list-style-type: none;
}
body.month table.calendar-body tr td div div.content ul li
{
    height: 12px;
    width: 98%;
    color: #292928;
    padding: 0 0 0 0;
    margin: 2px 0 0 1px;
    white-space: nowrap;
    font-size: 7pt;
    overflow: hidden;
    cursor: pointer;
    -moz-border-radius: 0.6em 0.6em 0.6em 0.6em;
}
body.month table.calendar-body tr td div div.content ul li span
{
    margin-left: 1px;
    margin-right: 2px;
}
body.month table.calendar-body tr td div div.content ul li a
{
    color: #292928;
    text-decoration: none;
}

/* Year view */

body.year .container-helper
{
    height: 330px;
    overflow: auto;
}

body.year table.calendar-body
{
    height: 100%;
}

body.year table.month-table
{
    height: 30px;
    margin-bottom: 5px;
    border-left: 1px solid #826647;
    border-bottom: 1px solid #826647;
    border-right: 1px solid #826647;    
}

body.year table.month-table tr
{
    height: 15px;
    text-align: center;
    line-height: 15px;
}
body.year tr.calendar-header-top th
{
    color: #fff;
    background-color: #b39169;
}

body.year table.month-days td
{
    width: 3%;
    text-align: center;
    border-right: 1px solid #333333;
    cursor: pointer;
}
body.year table.month-days td.last-column
{
    border-right: none;
}
body.year table.month-days td.today
{
    font-weight: bolder;
    color: #3c3c3c;
    background-color: #d7c5b0;
}
body.year table.month-days td.has-events
{
    /*font-weight: bolder;*/
    color: #000;
    background-color: #eeeeec;
}