@media print
{
  #protoToolbar-palette
  {
    display: none !important;
    height: 0 !important;
  }
}

#protoToolbar-menu
{
  width: 99.8%;
  height: 25px;
  display: block;
  z-index: 7000 !important;
  background-color: #eae8e3;
  color: #000000 !important;
  border-style: solid !important;
  border-width: 1px 1px 2px 1px !important;
  margin: 0;
  padding: 0;
}

#protoToolbar-palette
{
  font-size: 11px;
  cursor: default;
  line-height: 18px;
  vertical-align: center;
}

#protoToolbar-palette,
#protoToolbar-palette a
{
  color: #000000 !important;
}

#protoToolbar-menu,
#protoToolbar-palette,
#protoToolbar-palette h1,
#protoToolbar-palette li,
#protoToolbar-palette a,
#protoToolbar-palette ul li button
{
  font-family: 'Verdana', 'Arial', 'Helvetica', sans-serif !important;
  font-weight: bold;
}

#protoToolbar-palette li,
#protoToolbar-palette li button
{
  font-size: 10px !important;
}

#protoToolbar-palette span.toolbar_list_class
{
  display: block;
}

#protoToolbar-menu #protoToolbar-menu-logos
{
  margin-left: 2px;
  margin-right: 2px;
  padding-top: 0.1em;
  float: left;
  clear: right;
}

#protoToolbar-menu #protoToolbar-menu-logos a img
{
  border: none;
}

#protoToolbar-menu div.item
{
  width: auto;
  display: inline;
  margin-left: auto;
  margin-right: 8px;
  margin-top: auto;
  margin-bottom: auto;
  padding: 0px 0px 0px 0px;
  float: left;
  clear: right;
}

#protoToolbar-menu div.item h1 a:hover,
#protoToolbar-menu div.item h1 a.selected
{
  color: #C0111D;
}


#protoToolbar-menu ul
{
  margin-top: 0px;
  margin-left: -5px;
  padding: 0px 0px 0px 0px;
  background-color: #eae8e3;
  color: #000000;
  position: absolute;
  display: none;
}

#protoToolbar-menu ul li
{
  display: block !important;
  height: 19px;
  line-height: 19px;
  text-align: left;
  list-style-type: none;
  white-space: nowrap !important;
  white-space: normal;
  z-index: 7010 !important;
  border-left: #3C3C3C solid 1px;
  border-right: #3C3C3C solid 1px;
  padding-top: 1px;
  padding-left: 4px;
  padding-right: 5px;
  padding-bottom: 1px;
  width: auto;
  min-width: 7em;
}

#protoToolbar-menu ul li.enabled
{
}

#protoToolbar-palette ul li.disabled
{
  display: none !important;
}

#protoToolbar-menu ul li.separator
{
  height: 2px;
  line-height: 2px;
}

#protoToolbar-menu ul li.separator hr
{
  margin: 0;
  padding: 0;
}

#protoToolbar-menu ul li.last_item
{
  border-bottom: #3C3C3C solid 1px;
  padding-bottom: 6px;
}

#protoToolbar-menu ul li a
{
  display: block;
  font-weight: 700;
  line-height: 15px;
  color: #3F3F3F;
  text-decoration: none;
}

#protoToolbar-menu ul li a:hover,
#protoToolbar-menu ul li a.selected
{
  color: #C0111D;
}

#protoToolbar-menu ul li a img
{
  padding: 0;
  border: 0;
}

#protoToolbar-menu ul li form
{
  padding: 0;
  border: 0;
  margin: 0;
}

#protoToolbar-menu ul li button
{
  border: none;
  font-weight: 700;
  line-height: 15px;
  background-color: transparent;
  color: #3F3F3F;
  margin: 0px;
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 5px;
}


#protoToolbar-palette
{
  display: block;
  z-index: 9999 !important;
  height: 20px;
  width: 300px;
  position: fixed;
  _position: absolute;
  background-color: #eae8e3;
  color: #000000 !important;
  -moz-border-radius: 0.6em 0.6em 0.6em 0.6em;
  border-style: solid;
  border-width: 1px 2px 2px 1px;
  margin: 0;
  padding: 0;
}

#protoToolbar-palette #protoToolbar-palette-logos
{
  margin-left: 2px;
  margin-right: 2px;
  padding-top: 0.1em;
  float: left;
  clear: right;
}

#protoToolbar-palette #protoToolbar-palette-logos img
{
  border: none;
}

#protoToolbar-palette #protoToolbar-palette-content
{
  margin-top: 2px;
  margin-left: 5px;
  margin-right: 0px;
  margin-bottom: 0px;
  float: left;
  clear: right;
}

#protoToolbar-palette div.item
{
  width: auto;
  margin-left: auto;
  margin-right: 8px;
  margin-top: auto;
  margin-bottom: auto;
  padding: 0px 0px 0px 0px;
  float: left;
  clear: right;
}

#protoToolbar-palette div.dragbar
{
  background: url('../images/drag-grid.gif') repeat top left;
  width: 1.5em;
  height: 20px;
  min-width: 25px;
  cursor: move;
  float: right;
}

#protoToolbar-palette ul
{
  margin-top: 0px;
  margin-left: -5px;
  text-align: left;
  padding: 0px 0px 0px 0px;
  background-color: #eae8e3;
  border-left: #000000 solid 1px;
  border-right: #000000 solid 1px;
  border-bottom: #000000 solid 1px;
  color: #000000;
  position: absolute;
  display: none;
}

#protoToolbar-palette ul li
{
  display: block !important;
  height: 16px;
  line-height: 16px;
  text-align: left;
  list-style-type: none;
  white-space: nowrap !important;
  white-space: normal;
  z-index: 7010 !important;
  padding-top: 1px;
  padding-left: 4px;
  padding-right: 5px;
  padding-bottom: 1px;
  margin: 0px;
  width: 100%;
  min-width: 7em;
  _width: 9em;
}

#protoToolbar-palette ul li.enabled
{
}

#protoToolbar-palette ul li.disabled img
{
  -moz-opacity: 0.3;
}

#protoToolbar-palette ul li.disabled abbr,
#protoToolbar-palette ul li.disabled span
{
  color: #b0b0b0;
  cursor: default;
  font-weight: bold;
}

#protoToolbar-palette ul li.separator
{
  height: 6px;
  line-height: 6px;
  padding-top: 5px;
  padding-bottom: 2px;
}

#protoToolbar-palette ul li.separator hr
{
  margin: 0;
  padding: 0;
}

#protoToolbar-palette ul li.last_item
{
  padding-bottom: 6px;
}

#protoToolbar-palette ul li a
{
  display: block;
  font-weight: 700;
  line-height: 16px;
  color: #3F3F3F;
  text-decoration: none;
  vertical-align: middle;
}

#protoToolbar-palette ul li a:hover,
#protoToolbar-palette ul li a.selected,
#protoToolbar-palette ul li button:hover,
#protoToolbar-palette ul li button:focus
{
  color: #C0111D;
  text-decoration: underline;
}

#protoToolbar-palette ul li a img
{
  padding: 0;
  border: 0;
}

#protoToolbar-palette ul li abbr
{
  border-bottom: none;
  margin: 0px;
  padding: 0px;
}

#protoToolbar-palette ul li form
{
  padding: 0;
  border: 0px;
  margin: 0;
  display: inline;
}

#protoToolbar-palette ul li button
{
  border: 0;
  border-spacing: 0;
  border-style: none;
  font-weight: 700;
  line-height: 16px;
  background-color: transparent;
  color: #3F3F3F;
  margin: 0;
  padding: 0;
  cursor: pointer;
  text-align: left;
  vertical-align: middle;
}

#protoToolbar-palette ul li button img
{
  padding: 0;
  margin: 0;
  border: 0;
  display: inline;
}
