.net_nemein_favourites .fav_btn,
.net_nemein_favourites .bury_btn
{
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: top right;
}
.net_nemein_favourites .fav_btn_disabled,
.net_nemein_favourites .bury_btn_disabled
{
    cursor: default;
}
.net_nemein_favourites .fav_btn,
.net_nemein_favourites .bury_btn
{
    float: left;
    clear: right;
    width: 32px;
    height: 16px;
    margin-right: 3px;
}
.net_nemein_favourites .fav_btn span,
.net_nemein_favourites .bury_btn span
{
    line-height: 16px;    
}

.net_nemein_favourites .fav_btn
{
    background-image: url('not-favorite.png');
}
.net_nemein_favourites .fav_btn_hover
{
    background-image: url('not-favorite-hover.png');
}
.net_nemein_favourites .bury_btn
{
    background-image: url('not-buried.png');
}
.net_nemein_favourites .bury_btn_hover
{
    background-image: url('not-buried-hover.png');
}
.net_nemein_favourites .fav_btn_disabled
{
    background-image: url('favorite.png');
}
.net_nemein_favourites .bury_btn_disabled
{
    background-image: url('bury.png');
}

.net_nemein_favourites .fav_btn_loading,
.net_nemein_favourites .bury_btn_loading
{
    background-image: url('loader.gif');
}